:root {
    --main-text: black;
    --secondary-text: #929292;
    --main-blue: #1c93d2;
    --main-gold: #f0b425;
    --main-gray: #e1e8f0;
    --main-white: #ffffff;
    --trending-1: #e0f2fe;
    --trending-2: #facc16;
    --trending-3: #a3a2a2;
    --trending-4: #fca4ae;
    --shadow:rgb(175, 174, 174);
}